@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Work+Sans:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e5e5;
}

.wrapper {
  border-left: 16px solid rgba(0, 174, 255, 1);
  background-size: cover;
  width: 60%;
  margin: 0px auto;
  padding: 35px 30px;
  background-image: url(./Background.png);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 768px;
  min-width: 450px;
}

._right_content {
  flex-basis: 50%;
}

._top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
}

img {
  object-fit: contain;
  width: 12%;
  min-width: 45px;
}
._left_content {
  display: flex;
  gap: 15px;
}

.my-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 65px;
  font-family: "Work Sans", sans-serif;
  width: 95%;
  flex-wrap: wrap;
  max-width: 768px;
}

.my-content h4 {
  font-size: 32px;
}

.my-content h2 {
  margin-bottom: 25px;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.my-content p {
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

._last-content {
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 174, 255, 1);
}

._last_section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 50px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 16px;
}

.signature {
  width: 8%;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    width: 90%;
  }
  .my-content h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .my-content {
    width: 85%;
    gap: 10px;
  }

  .wrapper {
    width: 75%;
  }

  .my-content p {
    font-family: Raleway;
    font-size: 15px;
  }

  .my-content h2 {
    margin-bottom: 15px;
    font-family: Work Sans;
    font-size: 25px;

    text-align: center;
  }

  .my-content h4 {
    font-size: 27px;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 85%;
  }

  .my-content {
    width: 100%;
    gap: 5px;
  }

  .my-content h2 {
    margin-bottom: 15px;
    font-family: Work Sans;
    font-size: 22px;
    text-align: left;
  }

  body {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 500px) {
  ._top-content {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }

  ._top-content p {
    font-size: 10px;
  }

  .my-content h2 {
    font-size: 18px;
  }
  .my-content p {
    font-size: 13px;
  }
}
